<!DOCTYPE html>
<html style="background-color: darkgray;" lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>DATABASE PROJECT</title>
    <style>
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }

      li {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        font-size: 115%;
      }

      li a {
        display: block;
        color: white;
        padding: 10px 10px;
        text-decoration: none;
      }

      li a:hover:not(.active) {
        background-color: #111;
      }

      .active {
        background-color: #4caf50;
      }

      table {
        border: 1px solid grey;
        margin: auto;
      }

      th {
        border: 1px solid grey;
      }

      td {
        border: 1px solid grey;
        text-align: center;
      }

      input {
        width: 50%;
        margin-left: 300px;
      }

      textarea {
        width: 50%;
        margin-left: 300px;
      }
    </style>
  </head>
  <ul>
    <li>
      <a href="/"
        ><img
          src="http://s1.iconbird.com/ico/0612/GooglePlusInterfaceIcons/w128h1281338911640home.png"
          width="17"
          height="17"
      /></a>
    </li>
    <li
      style="color: white;
    text-align: center; margin-left: 600px; "
    >
      Добавление новой песни
    </li>
  </ul>
  <body>
    <br />
    <br />
    <form method="POST">
      <input type="text" name="artist" placeholder="Введите исполнителя" />
      <br />
      <br />
      <input type="text" name="title" placeholder="Введите название" />
      <br />
      <br />
      <textarea
        cols="30"
        rows="7"
        name="string"
        placeholder="Введите строку"
      ></textarea>
      <br />
      <br />
      <input
        type="text"
        name="lastword"
        placeholder="Введите последнее слово"
      />
      <br />
      <br />
      <button style="margin-left: 300px; " type="submit">Добавить песню</button>
    </form>
  </body>
</html>
